extends layout

block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
    .page-header
        h1 红岭创投净值标利率曲线
    h2 24小时曲线
    canvas(id='myChart', max-width='1000px', height = '400px')

    script.
        $( document ).ready(function() {
            var canvas = document.getElementById("myChart");
            canvas.style.width ='100%';
            canvas.style.height='100%';
  
            canvas.width  = canvas.offsetWidth;
            canvas.height = canvas.offsetHeight;

            var data = {
                labels: JSON.parse('!{doc.labels}'),
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [#{doc.data}]
                    }
                ]
            };
            
            var options = {
                scaleShowGridLines : true,
                scaleGridLineColor : "rgba(0,0,0,.05)",
                scaleGridLineWidth : 1,
                scaleShowHorizontalLines: true,
                scaleShowVerticalLines: true,
                bezierCurve : true,
                bezierCurveTension : 0.4,
                pointDot : true,
                pointDotRadius : 4,
                pointDotStrokeWidth : 1,
                pointHitDetectionRadius : 20,
                datasetStroke : true,
                datasetStrokeWidth : 2,
                datasetFill : true,
                legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
            };
            
            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data, options);
        });



    

